<div class="sidebar">
    <div class="logo-details">
        <i class="fa-solid fa-bars"></i>
        <span class="logo-name">Kimathi University<br />Booking System</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/admin/userdetails">
                <i class="fa-solid fa-circle-info"></i>
                <span class="link-name">User Details</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fa-solid fa-gear"></i>
                <span class="link-name">Logout</span>
            </a>
        </li>
    </ul>
</div>
</div>
<section class="home-section">
    <div class="home-content">