<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: white;">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="/manager/new-project" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <span class="link-name">Create New Project</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manager" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <span class="link-name">Project Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manager/new-task" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <span class="link-name">Create New Task</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manager/assigntask" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <span class="link-name">Assign Tasks</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manager/tasks" class="nav-link">
                    <i class="fa-solid fa-book"></i>
                    <span class="link-name">Tasks Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span class="link-name">Log Out</span>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>