<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: white;">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="/employee" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <span class="link-name">My Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/employee/assignedtasks" class="nav-link">
                    <i class="fa-solid fa-book"></i>
                    <span class="link-name">View Assigned Tasks</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-pen"></i>
                    <span class="link-name">Apply for Overdraft</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">Apply for leave</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/userdetails" class="nav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span class="link-name">User Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span class="link-name">Log Out</span>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>