<%- include ('../partials/header.ejs'); -%>
    <div class="container">
        <div class="form">
            <h3 class="fs-1">Unauthorized Access</h3>
            <p class="fs-4">You are not authorized to access this page. Please contact your admin</p>
        </div>
    </div>
    <%- include ('../partials/footer.ejs'); -%>