body {
    background-color: #BFCDE0;
}

.container {
    width: 100%;
    margin: 5% auto;
}

.form {
    margin: 2% auto;
    border: 1px solid #5D5D81;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container>h3 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

button a{
    text-decoration: none;
    color: white;
}
.form-label {
    text-align: left;
    color: 080F0F;
    font-size: 18px;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: auto;
}

th {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
@media screen and (max-width: 800px) {
    th{
        font-size: 8px;
    }
    td{
        font-size: 6px;
    }
    td { 
        overflow: hidden; 
        text-overflow: ellipsis; 
        word-wrap: break-word;
    }
}