body {
   
    height: 50%;
  }
  .form {
    width: 100%;
    margin: 2% auto;
    border: 1px solid #5D5D81;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form > h2  {
    
    text-align: center;
  }
  .form1 {
    margin-bottom: 15px;
  }
  .btn-primary {
    display:block;
    cursor: pointer;
    width: 20%;
    margin:40px; 
  }
  .login{
    margin:20%;
    display: grid;
    justify-items: center;
    border-radius: 50px;
    box-shadow:0px 0px 10px 2px black;
    background-color: beige;
    align-items: center; 
  }
  .wrapper {
    position: fixed;
    width: 100%;
    background-color: #262626;
     /* Set your background color here */
    z-index: 1000;
}
header {
   /* Set your header background color here */
   background-color: black;
  color: #fff; /* Set your header text color here */
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #fab23d;
   /* Set your logo text color here */
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 15px;
}

.menu ul li a {
  text-decoration: none;
  color: #383838; /* Set your menu text color here */
}
  @media only screen and (max-width: 500px) {
    .form,.form1,.btn-primary,.login {
      width: 100%;
    }
  }
  @media only screen and (max-width:800px) {
   
    .form {
      width: 80%;
      padding: 0;
    }
    .loginform {
      width: 100%;
    }
  }

