<div class="form">
    <h3>CREATE A NEW PROJECT</h3>
        <form class="" action="/manager/new-project" method="post">
          <div class="mb-3">
            <label for="projId" class="form-label">PROJECT ID:</label>
            <input type="text" class="form-control" name="projectId" id="projId" required/>

            <label for="pTitle" class="form-label">PROJECT TITLE:</label>
            <input type="text" class="form-control" name="pTitle" id="pTitle" required/>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </form>
</div>