<div class="form">
    <h3>EMPLOYEE REGISTRATION FORM</h3>
        <form class="" action="/registeremployees" method="post">
          <div class="mb-3">
            <label for="emp_id" class="form-label">EMPLOYEE ID:</label>
            <input type="text" class="form-control" name="employeeId" id="emp_id" required/>

            <label for="fName" class="form-label">FIRST NAME:</label>
            <input type="text" class="form-control" name="fName" id="fName" required/>

            <label for="lName" class="form-label">LAST NAME:</label>
            <input type="text" class="form-control" name="lName" id="lName" required/>

            <label for="dob" class="form-label">DATE OF BIRTH</label>
            <input type="text" class="form-control" name="dob" id="dob" required/>

            <label for="email" class="form-label">EMAIL</label>
            <input type="text" class="form-control" name="email" id="email" required/>

            <label for="phoneNo" class="form-label">PHONE NUMBER</label>
            <input type="text" class="form-control" name="phoneNo" id="phoneNo" required/>

            <label for="hDate" class="form-label">HIRE DATE</label>
            <input type="text" class="form-control" name="hDate" id="hDate" required/>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </form>
</div>