<% if (sampleData.length> 0){ %>
    <% sampleData.forEach((data)=>{ %>
        <form class="form" action="/changeUserPassword/<%= data.Username %>" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="<%= data.Username %>"
                    disabled>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% }) %>
<% } %>