<div class="form">
  <h3>User Details Table</h3>
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
              <th scope="col">Username</th>
              <th scope="col">Role</th>
              <th scope="col">Change Password</th>
          </tr>
        </thead>
        <tbody>
          <% if (sampleData.length > 0){ %>
              <% sampleData.forEach((data)=>{ %>
                  <tr>
                    <td><%= data.Username %></td>
                    <td><%= data.Role %></td>
                    <td><button type="button" class="btn btn-primary"><a href="/changeUserPassword/<%= data.Username %>">Change Password</a></button></td>
                  </tr>
                <% }) %>
          <% } else { %>
            <tr>
              <td colspan="4">No Data Found</td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>